# Python getting started with

## Types of data type : Int , float, str , list, tuple ,dictionary, array

## 1) Int : It stands for integer which contains all integers such as 1,2,3,4,5...

## 2) Float : It stands for float value which contains all decimals such as 1.1, 4.0, 3.5..

## 3) Str: It stands for string value such as name, character, alpahabets eg:'hello', 'abcd' ,"xyz". To define string we can use single quotes (' ') or double quotes (" ")

## Variables are used to define any datatype and we can see an example below

In [186]:
a = 10
b = 10.5
c = 'hello'
d = "hello"
print("Variable a is integer having value:",a,"Variable b is float having value",b,"Variable c is string having value",c)

Variable a is integer having value: 10 Variable b is float having value 10.5 Variable c is string having value hello

In [1]:
print('hello world')
print('hello')
print('world')

hello world
hello
world

In [3]:
print("hello\nworld") # \n is used for new line

hello
world

## If you want to check the type of datatype :

In [18]:
type(a)

int

In [19]:
type(b)

float

In [20]:
type(c)

str

## It is simple but now if you want two different print statements in single line than use end keyword

In [11]:
print('hello')
print('world')

hello
world

In [9]:
print('xyz',end=' ')
print('hello',end = ' ') # end keyword will not allow you to go to next line
print('world') 
# print('abcd')

xyz hello world

In [25]:
print('hello',end = "+")
print('world')

hello+world

## Example of basic calculator :

In [12]:
a = 2
b = 4
c = a ** b
c

16

In [11]:
pie = 3.14
r = 5
area_of_circle = pie * (r ** 4)
area_of_circle

1962.5

In [37]:
a = 20
b = 10
add = a + b
sub = a - b
mul = a * b
div = a / b
print("Addition is",add,"\nSubtraction is",sub,"\nMultiplication is",mul,"\nDivision is",div)

Addition is 30
Subtraction is 10
Multiplication is 200
Division is 2.0

## Taking user defined value:

In [13]:
a = int(input("Enter number "))
print("Entered number is: ",a)

Enter number 15
Entered number is:  15

In [14]:
b = float(input("Enter number "))
print("Entered number is: ",b)

Enter number 5.5
Entered number is:  5.5

In [15]:
c = str(input('Enter country '))
print("Entered country is: ",c)

Enter country India
Entered country is:  India

In [44]:
# If I want to perform 2 to the power 10 (2^10)
r = 2 ** 10
print(r)

1024

In [17]:
# For getting reminder
mod = 8 % 3
print("mod is",mod)

mod is 2

## String slicing :

In [53]:
var = "hello world"
print(var)

hello world

In [20]:
print(var[0]) # It will print first index
print(var[1]) # It will print second index
print(var[-1]) # It will print last index
print(var[-2]) # It will print second last index

h
e
d
l

In [21]:
# 012345678910
# hello world
# As written above 0 tends to h 1 to e and so on here index 5 tends to white space fo eg:
print(var[5]) # It will print white space as it is at 5th position

In [52]:
# Now If I want to some particular string like just hell from variable var
print(var[0:4]) # here 0 on left to : defines starting position and 4 next to : defines the end position -1

hell

In [26]:
print(var[0:]) # It will go upto last

hello world

In [32]:
print(var[0:-1]) # It will start from 0th position and go till last -1

hello worl

In [60]:
print(var[0:11]) # It will print the whole string

hello world

In [62]:
print(var[:]) # same as above

hello world

In [55]:
print(var[0:11:2]) # It will take one alphabet and skip one and continue

hlowrd

In [64]:
print(var[::2]) # Same as above

hlowrd

In [66]:
print(var[::-1])# print in reverse order

dlrow olleh

In [68]:
print(var[::-2])# print in reverse order with skipping one alphabet and taking the next

drwolh

## In practice take you own string and play with it using different slicing operation :)

## Starting with loops in python :-  For loop

In [ ]:
for(i=0;i<10;i++)
{
    print(i)
}

In [64]:
for i in range(1,11):
    print(i,end= ' ')

1 2 3 4 5 6 7 8 9 10

In [70]:
#syntax of for loops is as show below and : means indentation
for i in range(10):          # it will start from 0 index and go upto 10-1 index so will print 0 to 9
    print(i,end = ' ')

0 1 2 3 4 5 6 7 8 9

In [69]:
for i in range(1,11):          # it will start from 1 index and go upto 11-1 index so will print 1 to 10
    print(i,end = ' ')

1 2 3 4 5 6 7 8 9 10

In [71]:
for i in range(1,11,2): # it will start from 1 index and go upto 11-1 index so will print 1 to 10 and skip 1 position
    print(i,end = ' ')
    print('hello',end= ' ')
print('world')

1 hello 3 hello 5 hello 7 hello 9 hello world

In [73]:
for i in range(5,0,-2): # in reverse order it will print
    print(i,end = ' ')

5 3 1

In [79]:
# Example of while loop
j=0
while j<11:
    print(j,end=" ")
    j = j + 1

0 1 2 3 4 5 6 7 8 9 10

In [83]:
#basic pattern program
for i in range(5):
    for j in range(i):
        print(" *",end = " ")
    print()

 *
 *  *
 *  *  *
 *  *  *  *

In [88]:
n = 5
m = (2 * n) - 2  
for i in range(0, n):  
    for j in range(0, m):  
        print(end=" ")  
    m = m - 1  
    for j in range(0, i + 1):  
        print("*", end=' ')  
    print(" ")

********
        *
       * *
      * * *
     * * * *
    * * * * *

## If -else condition:

In [51]:
num = 5
if (num == 10):
    print("true")
else:
    print('false')

false

In [1]:
num = 1
if (num == 20):
    print('Yes its 20')
elif num == 10 :
    print('Yes its 10')
else:
    print('none of above')

none of above

In [2]:
# and condition and or condition
n = 20
if n == 10 or n == 20:
    print('true')
else:
    print('false')

true

In [100]:
# and condition and or condition
n = 20
m = 20
if n == 20 and m == 30:
    print('true')
else:
    print('false')

true

## Introduction to list and tuples:

In [59]:
#List can be defined as [] and tuples as ()
l = [1,2,3,4,5] # It is list
t = (9,8,7,6,5) # It is tuple
print('list',l)
print('tuple',t)

list [1, 2, 3, 4, 5]
tuple (9, 8, 7, 6, 5)

In [60]:
type(l)

list

In [61]:
type(t)

tuple

In [30]:
# List and tuple are not just limited to integer, we can add decimal as well as string value inside it
ls = [1,2,3,5.5,"hello",9.7,"abcd"]
print(ls)

[1, 2, 3, 5.5, 'hello', 9.7, 'abcd']

In [10]:
ls[2:4]

[3, 5.5]

In [42]:
#List is mutable wheras tuple is immutable
# In list we can perform operation such as insert/append as well as pop/remove, meanwhile is is not possible in tuple
l = [0,1,2,3,4,5,0]
l.append(6) #It will append 6 to last position
print(l)

[0, 1, 2, 3, 4, 5, 0, 6]

In [137]:
l[0:4]

[0, 1, 2, 3]

In [43]:
l.insert(3,"hello") # On 3rd position it will insert 0
print(l)

[0, 1, 2, 'hello', 3, 4, 5, 0, 6]

In [39]:
l

[0, 1, 2, 'hello', 3, 4, 5, 0, 6]

In [25]:
l.pop(-1) # It will pop an item from 3rd position
print(l)

[0, 1, 2, 3, 4, 5, 0]

In [41]:
l.remove('hello') # It will remove the number which we have written
print(l)

[0, 1, 2, 3, 4, 5, 0, 6]

In [55]:
#Joining two list
ls1 = [1,2,3,4]
ls2 = [5,6,7,8]
ls3 = ls1 + ls2
print(ls3)

[1, 2, 3, 4, 5, 6, 7, 8]

In [93]:
#list inside list
ls = [1,2,3,[4,[6.3],5,6],7]
print(ls)

[1, 2, 3, [4, [6.3], 5, 6], 7]

In [95]:
ls[3][1][0]

6.3

In [80]:
ls[4]

7

In [96]:
print(ls[0])
print(ls[1])
print(ls[2])
print(ls[3])
print(ls[3][0])
print(ls[3][1])
print(ls[3][2])

1
2
3
[4, [6.3], 5, 6]
4
[6.3]
5

In [154]:
list1 = [32,5,43,5,4,12321,3,43,654,67,31,2321,3]
list1.sort() # Sort list in ascending order
print(list1)

[3, 3, 4, 5, 5, 31, 32, 43, 43, 67, 654, 2321, 12321]

In [156]:
list1.sort(reverse = True) # sort list in descending order
list1

[12321, 2321, 654, 67, 43, 43, 32, 31, 5, 5, 4, 3, 3]

In [177]:
max(list1) # maximum number from the list

12321

In [178]:
min(list1) # Minimum number from the list

3

In [157]:
#the same function to add or remove a number cannot be possible with tuple
t = (9,8,7,6,5)# As said while performing such operation on tuple it will give error
t.append(4)
print(t)

AttributeError: 'tuple' object has no attribute 'append'

In [104]:
tp = (0,9,3,3.5,"xyz",6.2,"world")
print(tp)

(0, 9, 3, 3.5, 'xyz', 6.2, 'world')

In [98]:
tpl1 = (1,2,3) 
tpl2 = (4,5,6)
tpl = tpl1+ tpl2 # will merge two tuples
print(tpl)

(1, 2, 3, 4, 5, 6)

In [99]:
len(tpl)

6

In [100]:
#convert tuple to list
tpl = list(tpl)
print(tpl)

[1, 2, 3, 4, 5, 6]

In [101]:
tpl.append('abcd')
tpl

[1, 2, 3, 4, 5, 6, 'abcd']

In [102]:
#convert list back to tuple
tpl = tuple(tpl)
print(tpl)

(1, 2, 3, 4, 5, 6, 'abcd')

In [189]:
del(tpl) # It will delete the whole tuple

In [105]:
#we can check there datatype also
print(type(ls))
print(type(tp))

<class 'list'>
<class 'tuple'>

In [114]:
a = [1,2,3,"abcd",'xyz',5.5]
a

[1, 2, 3, 'abcd', 'xyz', 5.5]

In [118]:
for i in a:
    print(i)

1
2
3
abcd
xyz
5.5

In [119]:
type(i)

float

In [167]:
ls = [0 ,9, 3, 3.5, 'xyz', 6.2, 'world' ]
ls

[0, 9, 3, 3.5, 'xyz', 6.2, 'world']

In [168]:
# we can use list in for loop too.
for i in ls:
    print(i,end = ' ')

0 9 3 3.5 xyz 6.2 world

In [171]:
# same goes with tuple 
for i in tp:
    print(i,end = ' ')

0 9 3 3.5 xyz 6.2 world

In [173]:
# print all odd number till 100
for i in range(100):
    if(i%2==1):
        print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [124]:
# It will print list with indexes
num = 0
ls = [1,2,3,5.5,"hello",9.7,"abcd",564]
for i in ls:
    print(num, i)
    num = num + 1

0 1
1 2
2 3
3 5.5
4 hello
5 9.7
6 abcd
7 564

In [144]:
#same as above code with function enumerate
for i,j in enumerate(ls):
    print(i, j)

0 1
1 2
2 3
3 5.5
4 hello
5 9.7
6 abcd

## Dictionary: It is always used as key-value pair

In [187]:
# Items on left side to : are called key and on right side are value
d = {"name":'ABCD',"college":"stanford","roll no":35,"abcd":5.5}
print(d)

{'name': 'ABCD', 'college': 'stanford', 'roll no': 35, 'abcd': 5.5}

In [128]:
# d.keys means all key present in dictionary
for i in d.keys():
    print(i)

name
college
roll no
abcd

In [173]:
# d.values means all value present in dictionary
for i in d.values():
    print(i)

stanford
35
5.5
computer science

In [137]:
# d.items means both key and value in dictionary
for i in d.items():
    print(i)

('name', 'ABCD')
('college', 'stanford')
('roll no', 35)
('abcd', 5.5)

In [177]:
# d['name'] in such way you can use any key to call it's value
d['name']

'ABCD'

In [143]:
# just a dictionary with another variable
new = {"location":"USA"}

In [144]:
# Update function will add or append new dictionary to previous dictionary variable which we have mentioned
d.update(new)
print(d)

{'name': 'ABCD', 'college': 'stanford', 'roll no': 35, 'abcd': 5.5, 'location': 'USA'}

In [146]:
# It will update the value for that particular key
d["name"] = "XYZ"

In [147]:
print(d) # new values is as follow

{'name': 'XYZ', 'college': 'stanford', 'roll no': 35, 'abcd': 5.5, 'location': 'USA'}

In [184]:
len(d) # You can check the length of dictionary function

4

In [148]:
# Another method to update key and value
d['course'] = "computer science"
print(d)

{'name': 'XYZ', 'college': 'stanford', 'roll no': 35, 'abcd': 5.5, 'location': 'USA', 'course': 'computer science'}

In [150]:
# If in the above case I don't need name We can use pop operation to remvoe any key-value pair
d.pop('location')
print(d)

{'college': 'stanford', 'roll no': 35, 'abcd': 5.5, 'course': 'computer science'}

In [189]:
new_dict.clear()
print(new_dict)

{}

In [167]:
# Nested dictionary
school = {
  "class1" : {
    "name" : "abc",
    "sub" : "CE"
  },
  "class2" : {
    "name" : "xyz",
    "sub" : "EC"
  },
  "class3" : {
    "name" : "pqr",
    "sub" : "IT"
  }
}

In [168]:
print(school)

{'class1': {'name': 'abc', 'sub': 'CE'}, 'class2': {'name': 'xyz', 'sub': 'EC'}, 'class3': {'name': 'pqr', 'sub': 'IT'}}

In [160]:
# If I want data of student one
print(school['class1'])

{'name': 'abc', 'sub': 'CE'}

In [163]:
#If you want name of student one
print(school['class3']['sub'])

IT

## Set

In [190]:
# Set is defined as
s = {1,9,2,3,5,6,5,5}
print(s) # repetation is not allowed in set
print(type(s))

{1, 2, 3, 5, 6, 9}
<class 'set'>

In [191]:
len(s)

6

In [192]:
for i in s: 
    print(i)# prints result of set

1
2
3
5
6
9

In [193]:
s.add(4) # it will add 4 in the set
print(s)

{1, 2, 3, 4, 5, 6, 9}

In [194]:
len(s)

7

In [195]:
s.update([10,11,22]) # it will add all 3 numbers in set
print(s)

{1, 2, 3, 4, 5, 6, 9, 10, 11, 22}

In [196]:
len(s) #length of set

10

In [197]:
s.discard(10) # It will remove 10 from the set
print(s)

{1, 2, 3, 4, 5, 6, 9, 11, 22}

In [198]:
s.pop() # It will pop(remove) first element from set
print(s)

{2, 3, 4, 5, 6, 9, 11, 22}

In [200]:
a = list(s) # converting set to list
print(a) 
print(type(a))

[2, 3, 4, 5, 6, 9, 11, 22]
<class 'list'>

## Data-Type Casting

In [1]:
a = 10  # a is integer
type(a)

int

In [201]:
b = str(a) # converting int to string
print(type(b))
print(b)

<class 'str'>
10

In [6]:
z = "10" # z is string
type(z)

str

In [7]:
x = int(z) # converting str to int
type(x)

int

In [1]:
f = 5.75  # f is float
type(f)

float

In [3]:
f = int(f) # converting float to int
print(type(f))
print(f)

<class 'int'>
5

In [78]:
f

5

In [202]:
i = 7 # i is int
type(i)

int

In [203]:
i = float(i) # converting int to float
type(i)

float

In [204]:
i

7.0

##  Functions

## There are two types of function in python: User defined and built- in function

## Build in function are such function which are alread there and we don't need to define them eg: print() , len(), max(), range()

# User defined functions are such function which are defined by user and we can use them as:-

In [215]:
def fn(): # here fn named function is defined
    print("hello")    
fn()   # Here the function is called

hello

In [383]:
print("hello")
def abc():# function defined
    print("xyz")
abc() #function is called
print("world")
abc()#function is called

hello
xyz
world
xyz

In [384]:
# function with arguement
def fn(a,b):
    print("value of a is",a,"value of b is",b)
fn(10,20)

value of a is 10 value of b is 20

In [385]:
def fn(a,b): # function with two arguement
    print("value of a is",a,"value of b is",b)
a = 40
b = 50
fn(a,b)

value of a is 40 value of b is 50

In [386]:
def fn(a,b):
    print("value of a is",a,"value of b is",b)
x = 1
y = 2
fn(x,y) # it is not necessary that the called and calling variable name should be same

value of a is 1 value of b is 2

In [242]:
def fn(a,b):
    print("value of a is",a,"name is",b)

fn(10,"tom") # function can use all type of data type

value of a is 10 name is tom

In [222]:
def fn(*a): # handled with a single variable using * sign
    print("value of a is",a[0],"name is",a[1],"another value",a[2])

fn(10.5,"tom",20,30,50) # multiple arguement passed

value of a is 10.5 name is tom another value 20

In [226]:
def integer(n = 10): # default value will be 10 of n
    print(n)
integer(40)

40

In [227]:
def integer(n = 10): # default value will be 10 of n
    print(n)
integer()

10

In [81]:
def animals(l):
    print(l)
ls = ["dog",'cat','lion']
animals(ls) # ls is a list and it will pass one by one item from list to the function

['dog', 'cat', 'lion']

In [228]:
def rtn(n):
    b = n + 1
    print(b)# it will just return the value of n
rtn(5)

6

In [229]:
def rtn(n):
    b = n + 1
    return b # it will just return the value of n
a = rtn(5)
print(a)

6

In [230]:
def rtn(n):
    b = n + 1
    return b # it will just return the value of n
print(rtn(5))

6

In [377]:
# multiple function callled
def dog(a):
    print("name of dog is",a)
def cat(b):
    print("name of cat is",b)
dog("bruno")
cat("kat")

name of dog is bruno
name of cat is kat

In [231]:
print('55')
def a():
    print('1')
    b()
    print('2')
print("66")  
def b():
    print('3')
    print('4')
#     a()
print("9")
a()
print('6')
b()
print("10")

55
66
9
1
3
4
2
6
3
4
10

In [234]:
# function called from a function
def fn1():
    print("fn1 called")
    fn2()
def fn2():
    print('fn2 called')
#     fn1()
fn1()

fn1 called
fn2 called

## Class

In [250]:
def first():
    print('hello')
first()

hello

In [236]:
# class can be defined as :
class first:
    print('hello')
f = first()

hello

In [249]:
# class defined with name first and having two method animal and bird
class first:
    def animal(self,a):
        print("animal method called",a)
    def bird(self):
        print("bird method called")
obj = first() # obj is an object to call method of class and class itself
obj.animal("dog") # with obj variable we are calling function inside the class
obj.bird() # with obj variable we are calling function inside the class

animal method called dog
bird method called

In [427]:
# Class defined with two method and each having one one parameter inside it
class first:
    def animal(self,dog_name):
        print("animal method called",dog_name)
    def bird(self,bird_name):
        print("bird method called",bird_name)
obj = first() # obj is an object to call method of class and class itself
obj.animal("bruno")# with obj variable we are calling function inside the class
obj.bird("cannary")# with obj variable we are calling function inside the class

animal method called bruno
bird method called cannary

In [256]:
# Class with methods and a variable of different method used in different method
class first:
    def animal(self,dog_name):
        self.dog_name = dog_name # dog_name is declared with self method which can be used in other function as well. 
        print("animal method called",dog_name)
    def bird(self,bird_name):
        print("bird method called",bird_name)
        print(self.dog_name,"and",bird_name,"are friends")
        
obj = first()
obj.animal("bruno")
obj.bird("cannary")

animal method called bruno
bird method called cannary
bruno and cannary are friends

In [258]:
# Construcor is made inside the class
class first:
    def __init__(self,p): # here constructor is defined and will call when obj is defined with classs
        print('class first is called')
#         self.q = q
        self.p = p
    def animal(self,dog_name):
        self.dog_name = dog_name
        print("animal method called",dog_name)
    def bird(self,bird_name):
        print("bird method called",bird_name)
        print(self.dog_name,"and",bird_name,"are friends",self.p)
        
l = [1,2,3]
obj = first(l)
obj.animal("bruno")
obj.bird("cannary")
# o = first()

class first is called

In [260]:
# Singl level inheritance
class first: # first class which is parent class
    def dog(self,dog_name):
        self.dog_name = dog_name
        print("dog method called",dog_name)
    def bird(self,bird_name):
        print("bird method called",bird_name)
        print(self.dog_name,"and",bird_name,"are friends")
        
class second(first): # child class which inherit properties of parent class
    def __init__(self):
        print('class second is called')
    def lion(self,lion_name):
        self.lion_name = lion_name
        print("lion method called",lion_name)
    def tiger(self,tiger_name):
        print("tiger method called",tiger_name)
        print(self.lion_name,"and",tiger_name,"and",self.dog_name,"are friends")
        
obj = second() # need to create object of only child class which is inheriting properties of parent class
obj.dog("bruno")
obj.bird("cannary")
obj.lion("beast")
obj.tiger("wildling")

class second is called
dog method called bruno
bird method called cannary
bruno and cannary are friends
lion method called beast
tiger method called wildling
beast and wildling and bruno are friends

In [438]:
# Multi-level inheritance which is similar to above example having grand child, child and parent class
class first: # this is a parent class
    def dog(self,dog_name):
        self.dog_name = dog_name
        print("dog method called",dog_name)
    def bird(self,bird_name):
        print("bird method called",bird_name)
        print(self.dog_name,"and",bird_name,"are friends")
        
class second(first): # this child class
    def lion(self,lion_name):
        self.lion_name = lion_name
        print("lion method called",lion_name)
    def tiger(self,tiger_name):
        print("tiger method called",tiger_name)
        print(self.lion_name,"and",tiger_name,"and",self.dog_name,"are friends")
        
class third(second): # this is grand child class
    def __init__(self):
        print('class third is called')
    def cow(self,cow_name):
        self.cow_name = cow_name
        print("cow method called",cow_name)
    def goat(self,goat_name):
        print("goat method called",goat_name)
        print(self.cow_name,"and",goat_name,"and",self.dog_name,"are friends")
        
obj = third() # with grand child object we can access method of all three class
obj.dog("bruno")
obj.bird("cannary")
obj.lion("beast")
obj.tiger("wildling")
obj.cow('abc')
obj.goat('xyz')

class third is called
dog method called bruno
bird method called cannary
bruno and cannary are friends
lion method called beast
tiger method called wildling
beast and wildling and bruno are friends
cow method called abc
goat method called xyz
abc and xyz and bruno are friends

In [444]:
# Multiple inheritance: Here we have multiple parent class with one child class
class first: # this is a parent class
    def dog(self,dg):
        self.dg = dg
        print("dog method called",dg)
    def bird(self,bird_name):
        print("bird method called",bird_name)
        print(self.dg,"and",bird_name,"are friends")
        
class second: # this parent class
    def lion(self,lion_name):
        self.lion_name = lion_name
        print("lion method called",lion_name)
    def tiger(self,tiger_name):
        print("tiger method called",tiger_name)
        print(self.lion_name,"and",tiger_name,"and",self.dg,"are friends")
        
class third(first,second): # this is child class
    def __init__(self):
        print('class third is called')
    def cow(self,cow_name):
        self.cow_name = cow_name
        print("cow method called",cow_name)
    def goat(self,goat_name):
        print("goat method called",goat_name)
        print(self.cow_name,"and",goat_name,"and",self.dg,"are friends")
        
obj = third() # with child object we can access method of both parent class
obj.dog("bruno")
obj.bird("cannary")
obj.lion("beast")
obj.tiger("wildling")
obj.cow('abc')
obj.goat('xyz')

class third is called
dog method called bruno
bird method called cannary
bruno and cannary are friends
lion method called beast
tiger method called wildling
beast and wildling and bruno are friends
cow method called abc
goat method called xyz
abc and xyz and bruno are friends

In [452]:
# Hierarchical inheritance: Here we have multiple chil class with one parent class
class first: # this is a parent class
    def dog(self,dg):
        self.dg = dg
        print("dog method called",dg)
    def bird(self,bird_name):
        print("bird method called",bird_name)
        print(self.dg,"and",bird_name,"are friends")
        
class second(first): # this is child class
    def lion(self,lion_name):
        self.lion_name = lion_name
        print("lion method called",lion_name)
    def tiger(self,tiger_name):
        print("tiger method called",tiger_name)
        print(self.lion_name,"and",tiger_name,"and",self.dg,"are friends\n")
        
class third(first): # this is child class
    def __init__(self):
        print('class third is called')
    def cow(self,cow_name):
        self.cow_name = cow_name
        print("cow method called",cow_name)
    def goat(self,goat_name):
        print("goat method called",goat_name)
        print(self.cow_name,"and",goat_name,"and",self.dg,"are friends")
        
obj = second() # with child class (second) object we can access method of parent class but not other child class
obj.dog("bruno")
obj.bird("cannary")
obj.lion("beast")
obj.tiger("wildling")

obj1 = third() # with child class (third) object we can access method of parent class but not other child class
obj1.dog("bruno")
obj1.bird("cannary")
obj1.cow("beast")
obj1.goat("wildling")

dog method called bruno
bird method called cannary
bruno and cannary are friends
lion method called beast
tiger method called wildling
beast and wildling and bruno are friends

class third is called
dog method called bruno
bird method called cannary
bruno and cannary are friends
cow method called beast
goat method called wildling
beast and wildling and bruno are friends

# Hybrid inheritance is combination of any two or more type of inheritance, try it by yourself by combining any two type of inheritance

# date and time module

In [268]:
import datetime
# It is used to print current date and time
x = datetime.datetime.now()
print(x)

2021-01-08 19:17:15.218779

In [269]:
import time
start = time.time() # It will note the start time
for i in range(10000000):
    a = time.time() - start # it will count the current time take - start time and will give total time taken for execution
print(a) # It will give total time taken for execution

5.095240354537964

# Math module

In [271]:
import math
n = math.sqrt(200)
print(n)

14.142135623730951

In [315]:
x = math.ceil(1.5)
y = math.floor(1.5)
print("ceil is",x,"floor is",y) 
print("value of pie is",math.pi)

ceil is 2 floor is 1
value of pie is 3.141592653589793

In [317]:
math.log10(10) # will give log with base 10

1.0

In [322]:
math.factorial(7) # will give factorial of number

5040